{% load render_vite_assets %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Ludwig Hair Couture" />
    <meta
      property="og:description"
      content="Salone di parrucchieria Orbassano"
    />
    <meta property="og:image" content="static/build/img/logo2.JPG" />
    <meta property="og:url" content="https://ludwighaircouture.com" />

    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="preload" href="static/build/menuservizi.mp4" as="video" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
      @import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
    </style>
    <link rel="icon" href="static/build/img/logo2.JPG" type="image/x-icon" />
    <title>Ludwig</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://www.ludwighaircouture.com",
        "logo": "/img/logo2.JPG",
        "name": "Ludwig Air Couture",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+390119015465",
          "contactType": "Customer Service"
        }
      }
    </script>
    <script type="module">
      import RefreshRuntime from 'http://0.0.0.0:8000/@react-refresh'
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
    {% render_vite_assets %}

  </head>
  <body>
    <div id="root"></div>

    
  </body>
</html>